@import "tailwindcss";

@layer base {
  body {
    font-family: ui-sans-serif, system-ui, sans-serif;
    color: rgb(17 24 39);
    background-color: white;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  }
}
